@page
@model Website.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<head>
    <title>About</title>
</head>

<hr />
<nav style="display: flex;">
    <a class="nav-link" style="flex-grow:1; text-align:center;" href="/Index">Home</a>
    <a class="nav-link" style="flex-grow:1; text-align:center;" href="/About">About</a>
    <a class="nav-link" style="flex-grow:1; text-align:center;" href="/Menu">Menu</a>
    <a class="nav-link" style="flex-grow:1;text-align:center;" href="/Privacy">Privacy</a>
</nav>
<hr />

<h1>About Dino-Diner</h1>
<p>Founded in 2019 from the collective collective consciousness of the Fall Semester CIS 400 students of Kansas State University, Dino-Diner is devoted to bringing you the finest in dinosaur-themed dining experiences. Despite the prehistoric nature of our menu, we only use the freshest of ingredients, and no dinosaurs were harmed to bring our delectable fare to you.</p>



