@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<hr />
<nav style="display: flex;">
    <a class="nav-link" style="flex-grow:1; text-align:center;" href="/Index">Home</a>
    <a class="nav-link" style="flex-grow:1; text-align:center;" href="/About">About</a>
    <a class="nav-link" style="flex-grow:1; text-align:center;" href="/Menu">Menu</a>
    <a class="nav-link" style="flex-grow:1;text-align:center;" href="/Privacy">Privacy</a>
</nav>
<hr />

<img src="~/images/DinoDiner-32.png" style="width: 50%; display:block;  margin-left:auto; margin-right:auto;" />