/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.body-content {
    padding-left: 150px;
    padding-right: 150px;
}

h1 {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px #808080;
}

h2 {
}

p {
    font-weight: 100;
}

a {
    text-decoration: none;
}

.nav-link {
    font-size: 20px;
}

.ingredients p {
    margin-left: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.menu-item {
    border: 1px solid black;
    margin: 5px;
}
