<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Menu</name>
    </assembly>
    <members>
        <member name="T:DinoDiner.Menu.CretaceousCombo">
            <summary>
            A class representing a combo meal
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.CretaceousCombo.PropertyChanged">
            <summary>
            Property changed event handler
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.NotifyOfPropertyChanged(System.String)">
            <summary>
            Notifies that a property changed
            </summary>
            <param name="propertyName">String property name</param>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Entree">
            <summary>
            Gets and sets the entree
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Side">
            <summary>
            Gets and sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Drink">
            <summary>
            Gets and sets the drink
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Price">
            <summary>
            Gets the price of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Calories">
            <summary>
            Gets the calories of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Size">
            <summary>
            Gets or sets the size of the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Ingredients">
            <summary>
            Gets the list of ingredients for the combo
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Description">
            <summary>
            same as ToString()
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.CretaceousCombo.Special">
            <summary>
            special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.#ctor(DinoDiner.Menu.Entree)">
            <summary>
            Constructs a new combo with the specified entree
            </summary>
            <param name="entree">The entree to use</param>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.ToString">
            <summary>
            ToString for 
            </summary>
            <returns></returns>
        </member>
        <member name="M:DinoDiner.Menu.CretaceousCombo.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Drink">
            <summary>
            Abstract class for a drink.
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Drink.PropertyChanged">
            <summary>
            Property Changed event handler
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.NotifyOfPropertyChanged(System.String)">
            <summary>
            Notify of property changed event
            </summary>
            <param name="propertyName"></param>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ice">
            <summary>
            Ice boolean
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Description">
            <summary>
            Getter for description
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Special">
            <summary>
            Abstract method for Special with getter
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Drink.Size">
            <summary>
            Size enum
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.HoldIce">
            <summary>
            Holds the ice
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.AddIce">
            <summary>
            adds ice back in, or adds it to begin with
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Drink.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.JurassicJava">
            <summary>
            JurrassicJava = Coffee
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.RoomForCream">
            <summary>
            Room for cream bool property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Decaf">
            <summary>
            Decaf bool property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Size">
            <summary>
            Size property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Ingredients">
            <summary>
            Gets the list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.JurassicJava.Special">
            <summary>
            Special instructions for making Jurassic Java
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.#ctor">
            <summary>
            Constructor for JurrassicJava
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.LeaveRoomForCream">
            <summary>
            Leaves room for cream.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.RemoveCream">
            <summary>
            remove cream
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.ToString">
            <summary>
            ToString for Jurassic Java
            </summary>
            <returns>Sttring with size</returns>
        </member>
        <member name="M:DinoDiner.Menu.JurassicJava.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Sodasaurus">
            <summary>
            OLD-FASHION SODA
            A drink that contains carbonated water, a sweetener, and a natural or artificial flavoring.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Size">
            <summary>
            Gets and sets the size and adjusts calories and price according to size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Flavor">
            <summary>
            Flavor of the Sodasaurus beverage.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Sodasaurus.Special">
            <summary>
            Special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.#ctor">
            <summary>
            Constructor for Sodasaurus
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.ToString">
            <summary>
            ToString for Sodasaurus
            </summary>
            <returns>Sttring with size</returns>
        </member>
        <member name="M:DinoDiner.Menu.Sodasaurus.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.SodasaurusFlavor">
            <summary>
            Sodasaurus enum
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Cola">
            <summary>
            sweetened, carbonated soft drink flavored with vanilla, cinnamon, citrus oils and other flavorings
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Orange">
            <summary>
            a sweet-tart taste that is rich, flavorful and often hints of berry
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Vanilla">
            <summary>
            vanilla
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Chocolate">
            <summary>
            chocolate
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.RootBeer">
            <summary>
            root beer
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Cherry">
            <summary>
            Cherry pit with a sweet creamy fruity background
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.SodasaurusFlavor.Lime">
            <summary>
            a tart, acidic taste with just a slight hint of sweetness
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Tyrannotea">
            <summary>
            Iced tea
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Lemon">
            <summary>
            Bool for lemon property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Sweet">
            <summary>
            Bool for sweet property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Size">
            <summary>
            Gets and sets the size, and adjusts price/calories based on size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Special">
            <summary>
            Special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.#ctor">
            <summary>
            Constructor for Tyrannotea
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Tyrannotea.Ingredients">
            <summary>
            Gets the list of ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.AddLemon">
            <summary>
            Adds the lemon
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.RemoveLemon">
            <summary>
            Removes a lemon
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.AddSweetener">
            <summary>
            Makes the tea sweet (adds cane sugar) and doubles calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.RemoveSweetener">
            <summary>
            Removes sweetener and halves calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.ToString">
            <summary>
            ToString for Tyrannotea
            </summary>
            <returns>Sttring with size</returns>
        </member>
        <member name="M:DinoDiner.Menu.Tyrannotea.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Water">
            <summary>
            Hydration is important
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Lemon">
            <summary>
            Lemon bool for lemon property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Size">
            <summary>
            Gets and sets size (same for all)
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Ingredients">
            <summary>
            List of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Water.Special">
            <summary>
            Special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.#ctor">
            <summary>
            Cosntructor for water
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.AddLemon">
            <summary>
            Adds a lemon
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.RemoveLemon">
            <summary>
            Removes a lemon
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Water.ToString">
            <summary>
            ToString for water
            </summary>
            <returns>Sttring with size</returns>
        </member>
        <member name="M:DinoDiner.Menu.Water.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Brontowurst">
            <summary>
            Brontowurst (Brautwurst with peppers and onions in a bun)
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Brontowurst.PropertyChanged">
            <summary>
            Property changed event handler
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.NotifyOfPropertyChanged(System.String)">
            <summary>
            Notifies that a property changed
            </summary>
            <param name="propertyName">String property name</param>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Ingredients">
            <summary>
            Gets current list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Brontowurst.Special">
            <summary>
            Special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.#ctor">
            <summary>
            Constructor for Brontwurst
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldBun">
            <summary>
            Sets bun boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldPeppers">
            <summary>
            Sets peppers boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.HoldOnion">
            <summary>
            Sets onion boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Brontowurst.ToString">
            <summary>
            ToString for Brontowurst
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.DinoNuggets">
            <summary>
            DinoNuggets (Six crispy fried breaded chicken nuggets)
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.DinoNuggets.PropertyChanged">
            <summary>
            Property changed event handler
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.NotifyOfPropertyChanged(System.String)">
            <summary>
            Notifies that a property changed
            </summary>
            <param name="propertyName">String property name</param>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Ingredients">
            <summary>
            Gets current list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.DinoNuggets.Special">
            <summary>
            special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.#ctor">
            <summary>
            Constructor for Dino Nuggets
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.AddNugget">
            <summary>
            Adds nugget to ingredients, increases price and calories.
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.DinoNuggets.ToString">
            <summary>
            ToString for Dinonuggets
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Entree">
            <summary>
            Abstract base class for an "entree"
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Entree.PropertyChanged">
            <summary>
            Property changed event handler
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entree.NotifyOfPropertyChanged(System.String)">
            <summary>
            Notifies that a property changed
            </summary>
            <param name="propertyName">String property name</param>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Description">
            <summary>
            Gets the description
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Entree.Special">
            <summary>
            Special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Entree.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.PrehistoricPBJ">
            <summary>
            Prehistoric PB and J (A peanut butter and jelly sandwich)
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.PrehistoricPBJ.PropertyChanged">
            <summary>
            Property changed event handler
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.NotifyOfPropertyChanged(System.String)">
            <summary>
            Notifies that a property changed
            </summary>
            <param name="propertyName">String property name</param>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Ingredients">
            <summary>
            Gets current list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PrehistoricPBJ.Special">
            <summary>
            special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.#ctor">
            <summary>
            Constructor for Prehistoric PB and J
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldPeanutButter">
            <summary>
            Sets peanut butter boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.HoldJelly">
            <summary>
            Sets jelly boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PrehistoricPBJ.ToString">
            <summary>
            ToString for Prehistoric PBJ
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.PterodactylWings">
            <summary>
            Pterodactyl Wings (Chicken wings glazed with a signature hot sauce)
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.PterodactylWings.PropertyChanged">
            <summary>
            Property changed event handler
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.NotifyOfPropertyChanged(System.String)">
            <summary>
            Notifies that a property changed
            </summary>
            <param name="propertyName">String property name</param>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Ingredients">
            <summary>
            Gets current list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.PterodactylWings.Special">
            <summary>
            Special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.#ctor">
            <summary>
            Constructor for Pterodactyl Wings
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.PterodactylWings.ToString">
            <summary>
            ToString for Pterodactyl Wings
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.SteakosaurusBurger">
            <summary>
            Steakosaurus Burger (A 1/2 pound steakburger)
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.SteakosaurusBurger.PropertyChanged">
            <summary>
            Property changed event handler
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.NotifyOfPropertyChanged(System.String)">
            <summary>
            Notifies that a property changed
            </summary>
            <param name="propertyName">String property name</param>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Ingredients">
            <summary>
            Gets current list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.SteakosaurusBurger.Special">
            <summary>
            special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.#ctor">
            <summary>
            Constructor for Steakosaurus Burger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldBun">
            <summary>
            Sets bun boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldPickle">
            <summary>
            Sets puckle boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldKetchup">
            <summary>
            Sets ketchup boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.HoldMustard">
            <summary>
            Sets mustard boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.SteakosaurusBurger.ToString">
            <summary>
            ToString for Steakosaurus Burger
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.TRexKingBurger">
            <summary>
            T-Rex King Burger (A triple 1/2 steakburger with all the fixings)
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.TRexKingBurger.PropertyChanged">
            <summary>
            Property changed event handler
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.NotifyOfPropertyChanged(System.String)">
            <summary>
            Notifies that a property changed
            </summary>
            <param name="propertyName">String property name</param>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Ingredients">
            <summary>
            Gets current list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.TRexKingBurger.Special">
            <summary>
            special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.#ctor">
            <summary>
            Constructor for TRex King Burger
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldBun">
            <summary>
            Sets bun boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldLettuce">
            <summary>
            Sets lettuce boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldTomato">
            <summary>
            Sets tomato boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldOnion">
            <summary>
            Sets onion boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldPickle">
            <summary>
            Sets pickle boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldKetchup">
            <summary>
            Sets ketchup boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMustard">
            <summary>
            Sets mustard boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.HoldMayo">
            <summary>
            Sets mayo boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.TRexKingBurger.ToString">
            <summary>
            ToString for T-Rex King Burger
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.VelociWrap">
            <summary>
            Veloci-Wrap (A chicken ceasar wrap)
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.VelociWrap.PropertyChanged">
            <summary>
            Property changed event handler
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.NotifyOfPropertyChanged(System.String)">
            <summary>
            Notifies that a property changed
            </summary>
            <param name="propertyName">String property name</param>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Ingredients">
            <summary>
            Gets the list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.VelociWrap.Special">
            <summary>
            Special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.#ctor">
            <summary>
            Constructor for VelociWrap that sets price and calories
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldLettuce">
            <summary>
            Sets lettuce boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldDressing">
            <summary>
            Sets dressing boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.HoldCheese">
            <summary>
            Sets cheese boolean to false so it doesn't get added to the ingredients
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.VelociWrap.ToString">
            <summary>
            ToString for Velociwrap
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.IMenuItem">
            <summary>
            Interface for a menu item. Includes getters for price, calories, and ingredient list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Price">
            <summary>
            Getter for price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Calories">
            <summary>
            Getter for calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IMenuItem.Ingredients">
            <summary>
            Getter for ingredient list
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.IMenuItem.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.IOrderItem">
            <summary>
            Interface for an order item, for the Point of Sale.
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Price">
            <summary>
            Getter for price property
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Description">
            <summary>
            Getter for description property, which is the same as the ToString() implementation
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.IOrderItem.Special">
            <summary>
            Contains any special instructions for the food preparation, such as "Hold Ketchup"
            as specified by the Menu Item
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Menu">
            <summary>
            Class that represents the menu =)
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableMenuItems">
            <summary>
            Property for Available Menu Items. Returns a list containing one instance
            of every menu item currently offered by DinoDiner
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableEntrees">
            <summary>
            List of all available entrees
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableSides">
            <summary>
            List of all available sides
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableDrinks">
            <summary>
            List of all available drinks
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableCombos">
            <summary>
            List of all available combos
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Menu.AvailableIngredients">
            <summary>
            A HashSet representing all available ingredients (hashet so no duplicates)
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Menu.ToString">
            <summary>
            Displays full menu comtents separated by \n
            </summary>
            <returns></returns>
        </member>
        <member name="M:DinoDiner.Menu.Menu.Search(System.Collections.Generic.List{DinoDiner.Menu.IMenuItem},System.String)">
            <summary>
            Search by a user specified query
            </summary>
            <param name="items"></param>
            <param name="term"></param>
            <returns></returns>
        </member>
        <member name="M:DinoDiner.Menu.Menu.FilterByMinPrice(System.Collections.Generic.List{DinoDiner.Menu.IMenuItem},System.Single)">
            <summary>
            Filters by min price specified by user
            </summary>
            <param name="items"></param>
            <param name="min"></param>
            <returns></returns>
        </member>
        <member name="M:DinoDiner.Menu.Menu.FilterByMaxPrice(System.Collections.Generic.List{DinoDiner.Menu.IMenuItem},System.Single)">
            <summary>
            Filtesr by max price specified by user
            </summary>
            <param name="items"></param>
            <param name="max"></param>
            <returns></returns>
        </member>
        <member name="M:DinoDiner.Menu.Menu.FilterByExcludedIngredients(System.Collections.Generic.List{DinoDiner.Menu.IMenuItem},System.Collections.Generic.List{System.String})">
            <summary>
            Filters by excluded ingredients specified by user
            </summary>
            <param name="items"></param>
            <param name="excludedIngredients"></param>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Order">
            <summary>
            Represents a new customer order
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Order.PropertyChanged">
            <summary>
            Property changed event handler
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.NotifyOfPropertyChanged(System.String)">
            <summary>
            Notifies that a property changed
            </summary>
            <param name="propertyName">String property name</param>
        </member>
        <member name="P:DinoDiner.Menu.Order.Items">
            <summary>
            Read only property for Items array
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.Add(DinoDiner.Menu.IOrderItem)">
            <summary>
            Adds an IOrderItem to the _items array
            and notifies of properties changing
            </summary>
            <param name="item"></param>
        </member>
        <member name="M:DinoDiner.Menu.Order.Remove(DinoDiner.Menu.IOrderItem)">
            <summary>
            Removes an IOrderItem from _items
            and notifies of properties changing
            </summary>
            <param name="item"></param>
            <returns></returns>
        </member>
        <member name="M:DinoDiner.Menu.Order.OnItemPropertyChanged(System.Object,System.ComponentModel.PropertyChangedEventArgs)">
            <summary>
            Notifies whenever an item in the order changes so that the overall order
            can update its items and subtotal/salestax/cost properties
            </summary>
            <param name="sender"></param>
            <param name="e"></param>
        </member>
        <member name="P:DinoDiner.Menu.Order.SubtotalCost">
            <summary>
            Calculates total cost from prices of all order items
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxRate">
            <summary>
            Sales tax rate
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.SalesTaxCost">
            <summary>
            SalesTaxCost: product of SalesTaxRate and SubtotalCost
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Order.TotalCost">
            <summary>
            Calculates the sum of SubtotalCost and SalesTaxCost
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Order.#ctor">
            <summary>
            Constructor for order
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Fryceritops">
            <summary>
            Fryceritops class - French Fries
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Size">
            <summary>
            Gets and sets size, and sets price/calories according to size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Ingredients">
            <summary>
            Gets the current list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Fryceritops.Special">
            <summary>
            special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.#ctor">
            <summary>
            Constructor for Fryceritops
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.ToString">
            <summary>
            ToString for Fryceritops
            </summary>
            <returns>Sttring with size</returns>
        </member>
        <member name="M:DinoDiner.Menu.Fryceritops.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.MeteorMacAndCheese">
            <summary>
            Macaroni and Cheese with Sausages
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Size">
            <summary>
            Gets and sets size, and sets price/calories according to size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Ingredients">
            <summary>
            Gets the current list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MeteorMacAndCheese.Special">
            <summary>
            special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.#ctor">
            <summary>
            Constructor for Meteor Mac and Cheese
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.ToString">
            <summary>
            ToString for Meteor Mac and Cheese
            </summary>
            <returns>Sttring with size</returns>
        </member>
        <member name="M:DinoDiner.Menu.MeteorMacAndCheese.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.MezzorellaSticks">
            <summary>
            Fried Breaded Mozzarella Sticks
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Size">
            <summary>
            Gets and sets size, and sets price/calories according to size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Ingredients">
            <summary>
            Gets the current list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.MezzorellaSticks.Special">
            <summary>
            special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.#ctor">
            <summary>
            Constructor for Mezzorella Sticks
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.ToString">
            <summary>
            ToString for Mezzorella Sticks
            </summary>
            <returns>Sttring with size</returns>
        </member>
        <member name="M:DinoDiner.Menu.MezzorellaSticks.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Size">
            <summary>
            Size enumeration variable for Size.Small, Size.Medium, and Size.Large
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Small">
            <summary>
            Small size
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Medium">
            <summary>
            Medium size
            </summary>
        </member>
        <member name="F:DinoDiner.Menu.Size.Large">
            <summary>
            Large size
            </summary>
        </member>
        <member name="T:DinoDiner.Menu.Side">
            <summary>
            Abstract base class for a "side".
            </summary>
        </member>
        <member name="E:DinoDiner.Menu.Side.PropertyChanged">
            <summary>
            Event for property changed event handler
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Side.NotifyOfPropertyChanged(System.String)">
            <summary>
            Notifies of the property changing
            </summary>
            <param name="propertyName"></param>
        </member>
        <member name="P:DinoDiner.Menu.Side.Price">
            <summary>
            Gets and sets the price
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Calories">
            <summary>
            Gets and sets the calories
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Ingredients">
            <summary>
            Gets the ingredients list
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Size">
            <summary>
            Gets or sets the size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Description">
            <summary>
            Gets the description
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Side.Special">
            <summary>
            Special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Side.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
        <member name="T:DinoDiner.Menu.Triceritots">
            <summary>
            Tater Tots
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Size">
            <summary>
            Gets and sets size, and sets price/calories according to size
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Ingredients">
            <summary>
            Gets the current list of ingredients
            </summary>
        </member>
        <member name="P:DinoDiner.Menu.Triceritots.Special">
            <summary>
            special preparation instructions
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.#ctor">
            <summary>
            Constructor for Triceritots
            </summary>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.ToString">
            <summary>
            ToString for Triceritots
            </summary>
            <returns>Sttring with size</returns>
        </member>
        <member name="M:DinoDiner.Menu.Triceritots.GetBasicName">
            <summary>
            get basic name (no size or anything)
            </summary>
            <returns></returns>
        </member>
    </members>
</doc>
